Would you like fries with that <%= sandwich %> sandwich?


<form method="post" action="/fries_choice"> 
	<input type="text" name = "sandwich" value = <%= sandwich %> hidden>
	<input type="radio" name="fries" value="no"> NO <br>
	<input type="radio" name="fries" value="yes"> YES <br>
	<input type="text" name="orderdate" value= <%= orderdate %> hidden>
		<input type="submit">
</form>