<script src="js/getdate.js"></script>

Hello! What kind of sandwich would you like?

<form method="post" action="sandwich_choice">
	<input type="text" name="sandwich">
	<input type="submit" value="Order" onclick="getOrderDate('todaysdate')">
	<input type="text" name="orderdate" id="todaysdate" hidden>
</form>
